# Ignore the database
*/tickets.db

# Ignore all node_modules folders
node_modules/
**/node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore PID files
pids
*.pid
*.seed
*.pid.lock

# Ignore coverage, temp files
lib-cov
coverage
.npm
.eslintcache
.env
.DS_Store
.vscode/
dist/
build/
tmp/
temp/
push.sh
modules/*
transcripts-web/
modules_configs/Tickets/Data/*
./config.json